<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>
            [WindowsServicify.Domain]WindowsServicify.Domain.ConsoleInput,
            [WindowsServicify.Domain]WindowsServicify.Domain.ServiceConfigurationRequester,
            [WindowsServicify.Domain]WindowsServicify.Domain.WindowsBackgroundService,
            [WindowsServicify.Domain]WindowsServicify.Domain.LegacyWindowsServiceInstallHelper,
            [WindowsServicify.Domain]WindowsServicify.Domain.PowerShellWindowsServiceInstallHelper
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
